#heading {
  text-align: center;
  font-family: gothic;
}
h6{
  text-align: center;
  background-color: #A46E85;
  font-family: gothic;
}
.jumbotron{
  background-color: skyblue;
  border-style: groove;
  border-color: #D548C2;
  height: 220px;
}
.card-title{
  text-align: center;
  background-color: #D2DDEC;
  font-family: gothic;
}
.card-body{
  border-style: inset;
  border-color: #493046;
}
.gender1{
  color: #BC853D;
  display: flex;
  border-style: groove;
}
#genders {
  background-color: #B7B7B7;
  border-style: groove;
  text-align: center;
}
#date{
  border-style: ridge;
  background-color: #D6D8C3;
  text-align: center;
  text-decoration: none;
  display: flex;
}
.sub {
  border-style: outset;
  background-color: #1C63A1;

}
.clear{
  border-style: outset;
  background-color: #A1AEB9;
}
.birthday{
  background-color: #C1B0BF;
  display: flex;
  border-style: outset;
  font-family: sans-serif;
}
.input{
  background-color: #827EBD;
  border-style: ridge;
  margin-left: 0px;
}
.output {
  background-color: #827EBD;
  border-style: groove;
  margin-left: 50px;
}
.submit{
  background-color: #96A2A2;
  border-style: outset;
  margin-left: 50px;
}
.buttons {
  border-style: ridge;
}
.sele{
  text-align: center;
  display: flow-root;
  font-family: gothic;
  background-color: #AA37CD;
}
.output2{
  border-style: ridge;
  text-align: center;
  background-color: grey;
  text-emphasis-color: blue;
  font-family: "Comic Sans MS", cursive, sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: underline solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: normal;
  text-transform: capitalize;
}
#text{
  text-align: center;
  background-color: grey;
  text-emphasis-color: blue;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #000000;
  font-weight: 700;
  text-decoration: underline solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: normal;
  text-transform: capitalize;
}
